<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="~/js/login-script.js"> </script>
	
	<link rel="stylesheet" href="~/css/registration-style.css">
	<link rel="stylesheet" href="~/css/registration-adaptive.css">
</head>
<body>
	<form action="#" method="post">
		<h2>Login</h2>
		<h3>
			@ViewData["Message"]
			</h3>
		<p>
			<label for="Email" class="floatLabel">Email</label>
			<input id="Email" name="Email" type="email">
		</p>
		<p>
			<label for="password" class="floatLabel">Password</label>
			<input id="password" name="password" type="password">
			<span class="error" id="password_error">Enter a password longer than 8 characters</span>
		</p>
		<p class="sub">
			<input type="submit" value="Sign In" id="submit">
		</p>
		<a href="/Home/registration">Don`t have an account? <span style="color: blue;">Sign up</span></a>
	</form>
	<script src="login-script.js"></script>
</body>
</html>